doctype
html(lang='en')
  head
    title= 'Trevor Landau | Blog'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(description='Trevor Landau\'s blog.')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/bower_components/pure/pure.css')
    link(rel='stylesheet', href='/css/blog.css')
    //link(rel='stylesheet', href='/css/blog.min.css')
  body
    #layout.pure-g-r
      //- side bar
      .sidebar.pure-u
        header.header
          img.avatar(src='/img/me.jpeg', alt='My avatar')
          hgroup
            h1.brand-title
              a(href='/') Trevor Landau
            h2.brand-tagline 
              a(href='#{pageUrl(1)}') [Code and such]
      
          nav.nav.pure-menu.pure-menu-horizontal.pure-menu-open
            ul.nav-list
              li.nav-item
                a(href='/rss', target='_blank') Æ
              li.nav-item
                a(href='https://twitter.com/trevor_landau', target='_blank') ^

      //- content
      .pure-u-1
        .content
          block content

          footer.footer
            .pure-menu.pure-menu-horizontal.pure-menu-open
              ul
                li
                  a(href='/') Home
                li
                  a(href='/posts/1') Blog
                li
                  a(href='https://twitter.com/trevor_landau', target='_blank') Twitter
                li
                  a(href='https://github.com/landau', target='_blank') Github
                li
                  a(href='http://www.linkedin.com/pub/trevor-landau/1b/a48/493', target='_blank') LinkedIn


    //-
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              a.brand(href='/') Poet Demos
        .wrap
          .container
            .row
              .span8
                block content
              .span4
                .well.sidebar-nav
                  ul.nav.nav-list
                    li.nav-header categories
                    - each cat in getCategories()
                      li
                        a(href=categoryURL(cat)) #{cat}
                    li.nav-header tags
                    - each tag in getTags()
                      li
                        a(href=tagURL(tag)) #{tag}
